* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
	justify-content: space-between; /* não copiar essa tag em outros codigos */
}

#Home ul li a {
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
    margin-right: 145px;
}

#Home ul {
    list-style: none;
    text-align: center;
    
}    

#Home ul li{
    display: inline;
 
    
} 
               
#Home ul li a:hover {  
	background-color: #2c2c2d;
	
	

} 



body{
background-color: rgb(28, 29, 29);


}

#Home  {

background-color: rgb(0, 0, 0);
display: flex;
padding-top: 20px;
padding-bottom: 17px;

}



.Tuyz {

	color: white;
    text-align: center;
	margin-left: 4%;
	height: 460px;
	display: flex;
	
}

.Tuyz img {

	height: 600px;
	width:  550px;
	margin-top: 40px;
	

}

.Textos p {
padding: 50px;
font-size: 19px;
margin-bottom: -80px;

	
}

.Textos h2 {

padding-top: 50px;
font-size: 50px;
color: rgb(0, 255, 17);
	

}

